* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0c0d0e;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f1f2f3;
    font-size: 1em;
}

.navbar {
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__container--logo {
    margin: 0;
    font-size: 24px;
}

.container{
    margin-inline: auto;
    padding-inline: 0.938rem;
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
}

.calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: stretch;
    user-select: none;
    gap: 0.938rem;
}

.calendar__month {
    flex: 1;
    flex-basis: calc(50% - 0.938rem);
    padding: 0.938rem;
    background-color: #ffffff;
    border-color: #0c0d0e;
    border-collapse: collapse;
}

.calendar__month thead th:nth-child(1),
.calendar__month tbody td:nth-child(1) {
  color: #fb2352;
  border-left: none;
}
.calendar__month tbody td:last-child() {
    border-right: none;
}

.calendar__month--caption{
    font-size: 1.35rem;
    padding-block: 0.625rem;
    background-color: #b3c8f5;
}

.calendar__month--days-heading{
    font-weight: 300;
}

.calendar__month--days-heading tr th{
    padding-block: 0.625rem;
}

.calendar__month--date{
    padding-inline: 0.875rem;
    padding-block: 1rem;
    text-align: center;
    border: 1px solid #eeeeee;
    cursor: pointer;
    transition: outline ease-in-out 7ms;
}

.calendar__month--date.empty{
    background-color: #eeeeee2a;
}

.calendar__month--date.events-assigned{
    outline: #fb2352 1px solid;
}

.calendar__month--date[aria-disabled='false']:hover{
    outline: 5px solid #b3c8f5 ;
    color: #b3c8f5;
}

.calendar__month--date[aria-disabled='false']:active{
    outline-width: 3px;
}

dialog {
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}


.modal__header {
    text-align: left; 
    margin-bottom: 20px;
}


.modal__body {
    margin-bottom: 20px;
}


#addEventForm {
    margin-bottom: 20px;
}


#addEventForm input[type="text"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
}


#eventsList {
    list-style-type: none;
    padding: 0;
}


#eventsList li {
    margin-bottom: 10px;
}


.modal__footer {
    text-align: left; 
}


.form__btn, .modal__footer button {
    background-color: #1591a5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#eventsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; 
    max-height: 200px; 
}


#eventsList li {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    border-bottom: 1px solid #ccc; 
}

[data-child-role="event-text"] {
    flex: 1; 
}


[data-child-role="mark-btn"] {
    background-color: #10a50f;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 10px;
}


#eventsList li:first-child {
    font-weight: bold;
}

dialog::-webkit-scrollbar {
    width: 12px; 
}

dialog::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
}

dialog::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}


#eventsList::-webkit-scrollbar {
    width: 8px; 
}

#eventsList::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px; 
}

#eventsList::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

#deleteEventForm,
#updateEventForm {
    margin-bottom: 20px;
}

#updateEventForm {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#updateEventForm label {
    display: block;
    margin-bottom: 10px;
}

#updateEventForm input[type="text"],
#updateEventForm input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#deleteEventForm input[type="submit"], #updateEventForm input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#deleteEventForm input[type="submit"] {
    background-color: #ff4646;
}
